@model List<YolGecenHani.Models.City>
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
   
}

<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                           
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <h4 class="header-title" style="float:left"> Create Your Restaurant</h4>

                                    </div>
                                </div>

                                <form method="post" enctype="multipart/form-data">
                                    <div id="basicwizard">
                                        <div class="tab-content b-0 mb-0 pt-0">
                                            <div>
                                                <div class="row">
                                                    <div class="col-12">

                                                        <div class="row mb-3">
                                                            <label class="col-md-3 col-form-label" for="Image">Restaurant Image</label>
                                                            <div class="col-md-9">
                                                                <input type="file" id="Image" name="Image" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label class="col-md-3 col-form-label" for="Logo">Restaurant Logo</label>
                                                            <div class="col-md-9">
                                                                <input type="file" id="Logo" name="Logo" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label class="col-md-3 col-form-label" for="Name"> Restaurant Name</label>
                                                            <div class="col-md-9">
                                                                <input type="text" id="Name" name="Name" class="form-control" required>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label class="col-md-3 col-form-label" for="Description"> Description</label>
                                                            <div class="col-md-9">
                                                                <input type="text" id="Description" name="Description" class="form-control" >
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label class="col-md-3 col-form-label" for="CityId"> City</label>
                                                            <div class="col-md-9">
                                                                <select class="form-control" name="CityId" id="CityId">
                                                                    
                                                                    @foreach (var city in Model)
                                                                    {
                                                                        <option value="@city.Id">@city.Name</option>
                                                                    }

                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <label class="col-md-3 col-form-label" for="Status"> Status </label>
                                                            <div class="col-md-9">
                                                                <input data-val="true" id="Status" name="Status" type="checkbox" value="true">
                                                            </div>
                                                        </div>
                                                        <p class="text-warning">@ViewBag.Mesaj</p>
                                                    </div> <!-- end col -->
                                                </div> <!-- end row -->
                                            </div>
                                            <ul class="list-inline wizard mb-0">
                                                <li class="previous list-inline-item">
                                                    <button type="submit" class="btn btn-success">Create Restaurant</button>
                                                </li>
                                            </ul>
                                        </div> <!-- tab-content -->
                                    </div> <!-- end #basicwizard-->
                                </form>
                            

                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>


        </div> <!-- container -->
    </div> <!-- content -->
</div>

