@model YolGecenHani.Models.Discount
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-12">
                                    <h4 class="header-title" style="float:left"> Edit Discount</h4>

                                    <a href="~/Admin/Discount" class="btn btn-success waves-effect waves-light" style="float:right!important"><i class="fa fa-chevron-left"></i> Back To List</a>
                                </div>
                            </div>

                            <form method="post" enctype="multipart/form-data">
                                <div id="basicwizard">
                                    <div class="tab-content b-0 mb-0 pt-0">
                                        <div>
                                            <div class="row">
                                                <div class="col-12">


                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="DiscountPrice"> Discount Price</label>
                                                        <div class="col-md-9">
                                                            <input type="number" id="DiscountPrice" name="DiscountPrice" value="@Model.DiscountPrice" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="DiscountRate"> Discount Rate</label>
                                                        <div class="col-md-9">
                                                            <input type="number" id="DiscountRate" name="DiscountRate" value="@Model.DiscountRate" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="Status"> Status </label>
                                                        <div class="col-md-9">
                                                            <input data-val="true" id="Status" name="Status" type="checkbox" value="true" checked="@Model.Status">
                                                        </div>
                                                    </div>
                                                    <p class="text-warning">@ViewBag.Mesaj</p>
                                                </div> <!-- end col -->
                                            </div> <!-- end row -->
                                        </div>
                                        <ul class="list-inline wizard mb-0">
                                            <li class="previous list-inline-item">
                                                <button type="submit" class="btn btn-success">Edit Discount</button>
                                            </li>
                                        </ul>
                                    </div> <!-- tab-content -->
                                </div> <!-- end #basicwizard-->
                            </form>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>


        </div> <!-- container -->
    </div> <!-- content -->
</div>

