@model List<YolGecenHani.Models.Role>
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Content/Admin/assets/js/deneme.js"></script>
<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-12">
                                    <h4 class="header-title" style="float:left"> Add New User</h4>

                                    <a href="~/Admin/User" class="btn btn-success waves-effect waves-light" style="float:right!important"><i class="fa fa-chevron-left"></i> Back To List</a>
                                </div>
                            </div>

                            <form method="post" enctype="multipart/form-data">
                                <div id="basicwizard">
                                    <div class="tab-content b-0 mb-0 pt-0">
                                        <div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="Image">Image</label>
                                                        <div class="col-md-9">
                                                            <input type="file" class="form-control" id="Image" name="Image">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="UserName">Username</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" id="UserName" name="UserName">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="Email">Email</label>
                                                        <div class="col-md-9">
                                                            <input type="email" class="form-control" id="Email" name="Email">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="Phone"> Phone</label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="Phone" name="Phone" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="Name"> Name</label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="Name" name="Name" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="Surname"> Surname</label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="Surname" name="Surname" class="form-control">
                                                        </div>
                                                    </div>


                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="Gender"> Gender</label>
                                                        <div class="col-md-9">
                                                            <select id="Gender" name="Gender" class="form-control">
                                                                <option>Male</option>
                                                                <option>Female</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label class="col-md-3 col-form-label" for="Password"> Password <a class="btn btn-danger btn-xs" id="generatePassword" onclick='gp()'>Generate Password</a></label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="Password" name="Password" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                    <p class="text-warning">@ViewBag.Mesaj</p>
                                                </div> <!-- end col -->
                                            </div> <!-- end row -->
                                        </div>
                                        <ul class="list-inline wizard mb-0">
                                            <li class="previous list-inline-item">
                                                <button type="submit" class="btn btn-success">Create User</button>
                                            </li>
                                        </ul>
                                    </div> <!-- tab-content -->
                                </div> <!-- end #basicwizard-->
                            </form>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>


        </div> <!-- container -->
    </div> <!-- content -->
</div>

