
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment</h2>

<div id="iyzipay-checkout-form" class="responsive"></div>
@Html.Raw(ViewBag.pay) @*kendi apisine alan kodu içine gömüyor*@